<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Actualizar Servicio</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/dashboard/productos/actualizar.css' %}">
</head>

<body>

<h2>Actualizar Servicio</h2>

<form action="{% url 'servicio_actualizar' %}" method="post">

    {% csrf_token %}

    <input type="hidden" name="id" value="{{ servicio.id }}">

    <label>Nombre:</label>
    <input type="text" name="nombre" value="{{ servicio.nombre }}" required><br>

    <label>Precio:</label>
    <input type="number" name="precio" step="0.01" value="{{ servicio.precio }}" required><br>

    <label>Descripción:</label>
    <textarea name="descripcion" required>{{ servicio.descripcion }}</textarea><br>

    <label>Imagen:</label>
    <select name="imagen_id">

        {% for img in imagenes %}

        <option value="{{ img.id }}"
        {% if servicio.imagen.id == img.id %}selected{% endif %}>
            {{ img.nombre }}
        </option>

        {% endfor %}

    </select>

    <button type="submit">Actualizar</button>

</form>

<a href="javascript:history.back()" class="btn-back">← Volver</a>

</body>
</html>