.top-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}
.contenedorFiltro{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 15px auto;
}

table {
    width: 90%;
    margin: 0 auto 60px auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
    box-shadow: 0 5px 12px rgba(0,0,0,0.12);
    border-radius: 12px;
    overflow: hidden;
}

thead {
    background-color: #fce4ec;
}

th {
    padding: 14px;
    color: rgb(231, 104, 125);
    font-size: 16px;
}

td {
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #eee;
}

td img {
    width: 70px;
    border-radius: 8px;
}

.btn-edit {
    background-color: #ffd1dc;
    color: #333;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 13px;
}

.btn-delete {
    background-color: #ffb6c1;
    color: #333;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 13px;
    margin-left: 6px;
}

.btn-edit:hover,
.btn-delete:hover {
    background-color: #ff6f91;
    color: white;
}
/* ================= BACK BUTTON ================= */
.btn-back {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;

  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.9);
  color: #8f4259;
  font-weight: 700;
  text-decoration: none;
  border-radius: 22px;
  border: 2px solid #efd6de;

  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
  backdrop-filter: blur(6px);

  transition: all 0.25s ease;
}

.btn-back:hover {
  background: linear-gradient(135deg, #b45a75, #e2a1b6);
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 10px 22px rgba(0,0,0,0.18);
}
/*========FORMULARIO DE BUSQUEDA========*/
.filtro-form{
    width: min-content;
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: white;
    margin: 15px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}   

.filtro-form input{
    border-radius: 8px;
    border: 1px solid #ccc;
}