{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Editar Producto</title>

<link rel="stylesheet" href="{% static 'css/dashboard/productos/actualizar.css' %}">

</head>

<body>

<h2>Actualizar Producto</h2>

<form method="POST">

{% csrf_token %}

<input type="hidden" name="id" value="{{ producto.id }}">

<label>Nombre:</label>
<input type="text" name="nombre" value="{{ producto.nombre }}" required>


<label>Precio:</label>
<input type="number" name="precio" step="0.01" value="{{ producto.precio }}" required>


<label>Descripción:</label>
<input type="text" name="descripcion" value="{{ producto.descripcion }}" required>


<label>Stock:</label>
<input type="number" name="stock" value="{{ producto.stock }}" required>


<label>Imagen:</label>
<select name="imagen">

{% for img in imagenes %}

<option value="{{ img.id }}"
{% if producto.imagen.id =img.id %}
selected
{% endif %}
>
{{ img.nombre }}
</option>

{% endfor %}

</select>


<br><br>

<button type="submit">
Actualizar
</button>

</form>


<a href="javascript:history.back()" class="btn-back">
← Volver
</a>

</body>

</html>