<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Imágenes</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/global_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/productos/imagenes.css' %}">
</head>
<body>

<section class="hero">
    <h1>Imágenes Subidas</h1>
    <p>Gestión de imágenes del sistema</p>
</section>

<div class="card">

    <div class="upload-box">
        <form action="{% url 'guardar_imagen' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="imagen" required>
            <button type="submit">Subir</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Previa</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>

            {% for img in imagenes %}

            <tr>
                <td>{{ img.id }}</td>

                <td>{{ img.nombre }}</td>

                <td>
                    <img src="/img/{{ img.nombre }}">
                </td>

                <td>
                    <a class="eliminar" href="/imagenes/eliminar/{{ img.id }}">Eliminar</a>
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

<a href="javascript:history.back()" class="btn-back">← Volver</a>

</body>
</html>