{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Producto</title>

    <link rel="stylesheet" href="{% static 'css/global_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/productos/nuevo.css' %}">
</head>

<body>

<section class="hero">
    <h1>Registrar Nuevo Producto</h1>
    <p>Agrega un nuevo producto al sistema</p>
</section>


<form action="{% url 'nuevo' %}" method="post">

{% csrf_token %}

<label>Nombre</label>
<input type="text" name="nombre" required>

<label>Precio</label>
<input type="number" name="precio" step="0.01" required>

<label>Descripción</label>
<input type="text" name="descripcion" required>

<label>Stock</label>
<input type="number" name="stock" required>

<label>Imagen</label>
<select name="imagen">

<option value="">
Seleccione una imagen
</option>

{% for img in imagenes %}

<option value="{{ img.id }}">
{{ img.nombre }}
</option>

{% endfor %}

</select>

<button type="submit">
Guardar Producto
</button>

</form>

<a href="javascript:history.back()" class="btn-back">
← Volver
</a>

</body>
</html>