.navbar {
    background: #fce4ec;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 18px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.navbar h3 {
    color: rgb(231, 104, 125);
    font-size: 24px;
    letter-spacing: 1px;
}

.navbar ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.navbar a {
    font-size: 14px;
}

.cerrar {
    background-color: #ffb6c1;
}

.dashboard {
    padding: 60px 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    background-color: #f9f9f9;
    border-radius: 15px;
    width: 260px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
}

.card img {
    width: 100px;
    margin: 15px auto;
}

.card h3 {
    color: rgb(231, 104, 125);
    margin-bottom: 10px;
}
