<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Resultado de la Compra</title>
</head>

<body>

<h2>Resultado de la Compra</h2>

{% if mensaje %}
    <p>{{ mensaje }}</p>
{% endif %}

{% if producto %}
    <h3>Producto: <span>{{ producto.nombre }}</span></h3>
    <p>Precio: <span>{{ producto.precio }}</span></p>
    <p>Cantidad comprada: <span>{{ cantidad }}</span></p>
    <p>Total: <span>{{ producto.precio|floatformat:2|add:"0" }}</span></p>
{% endif %}

<a href="{% url 'compra' %}">Realizar otra compra</a>

</body>
</html>